.project
.classpath
.settings/
bin/
logs/
spec/*
!spec/mjlexer.lex
!spec/mjparser.cup
/src/rs/ac/bg/etf/pp1/*
!/src/rs/ac/bg/etf/pp1/sym_old.java
!/src/rs/ac/bg/etf/pp1/util/Log4JUtils.java
!/src/rs/ac/bg/etf/pp1/SemanticAnalyzer.java
!/src/rs/ac/bg/etf/pp1/CodeGenerator.java
!/src/rs/ac/bg/etf/pp1/CounterVisitor.java
!/src/rs/ac/bg/etf/pp1/Yylex.java
!/src/rs/ac/bg/etf/pp1/MyTab.java
!/src/rs/ac/bg/etf/pp1/MySTV.java
!/src/rs/ac/bg/etf/pp1/MyStruct.java
!/src/rs/ac/bg/etf/pp1/util/